@using Microsoft.AspNetCore.Html;
@inherits RazorSliceHttpResult<RazorSlices.Samples.WebApp.Todo>
<!DOCTYPE html>
<html lang="en" class="h-100">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@Title(Model)</title>
    <base href="/" />
    <link href="lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="css/site.css" rel="stylesheet" />
    <link rel="icon" href="/docs/5.3/assets/img/favicons/favicon.ico">
    <link href="css/site.css" rel="stylesheet" />
</head>
<body class="d-flex flex-column h-100">
    <main class="flex-shrink-0">
        <div class="container">
            <a href="/">Back to all todos</a>
            <h1 class="mt-5">@Title(Model)</h1>
            @if (Model.DueBy is { } dueBy)
            {
                <div class="text-muted">Due by @dueBy</div>
            }
            @if (Model.IsComplete)
            {
                <div class="text-muted">Completed</div>
            }
        </div>
    </main>

    @* @await RenderPartialAsync("/Slices/_Footer.cshtml") *@
    @(await RenderPartialAsync<_Footer>())
</body>
</html>
@functions {
    private string? Title(RazorSlices.Samples.WebApp.Todo todo)
    {
        <text>Todo @todo.Id: @todo.TitleUtf8</text>
        return null;
    }
}